@import './color.scss';
@import './variable.scss';

.container {
  display: flex;
  justify-content: center;

  > div {
    padding: 20px 1rem;
  }
}

.card {
  background: $background-item;

  padding: 16px 10px;
  border-radius: $radius-card;
  overflow: hidden;
  max-width: $container-width;

  :global(.ant-pagination.ant-table-pagination) {
    margin-right: 10px !important;
  }
}
